/* BookList.css */
.book-list {
    padding: 20px;
}

.navigation {
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử */
    align-items: center; /* Căn chỉnh các phần tử theo chiều dọc */
    margin-bottom: 15px;
}

.nav-btn {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #0056b3;
}

.search-container {
    position: relative;
    flex-grow: 1; /* Để thanh tìm kiếm chiếm không gian còn lại */
    margin-left: 15px; /* Thêm khoảng cách giữa button và thanh tìm kiếm */
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
}

.search-input {
    padding: 10px 10px 10px 40px; /* Thêm không gian cho biểu tượng */
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.pagination {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-info {
    margin: 0 15px;
    font-weight: bold;
}

/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal content */
  .modal-content {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .edit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9rem;
    text-decoration: none;

}

.delete-btn {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9rem;
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 0.9;
}

.nav-btn {
    background-color: #2196F3;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
}

.nav-btn:hover {
    opacity: 0.9;
}

.search-input {
    padding: 6px;
    width: 500px;
    margin-left: -15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

  