.app {
  display: flex;
}

.content {
  margin-left: 250px; /* Để không bị che bởi sidebar */
  padding: 20px;
  flex-grow: 1; /* Chiếm toàn bộ chiều rộng còn lại */
  background-color: #f9f9f9; /* Màu nền cho nội dung */
}
